<mat-grid-list cols="2" rowHeight="1:1">
  <mat-grid-tile>

    <div class="editor-designer-form" [formGroup]="editorForm">
        <div>
            <button mat-flat-button (click)="onSave()">Save</button>
        </div>
      <div>
        <mat-form-field class="editor-designer-full-width">
          <mat-label>Title</mat-label>
          <input matInput formControlName="title" placeholder="Title" />
        </mat-form-field>

        <mat-form-field class="editor-designer-full-width">
          <mat-label>Description</mat-label>
          <textarea
            matInput
            formControlName="description"
            placeholder="description"
          ></textarea>
        </mat-form-field>

        <mat-form-field class="editor-designer-full-width">
          <mat-label>Collection</mat-label>
          <input
            matInput
            formControlName="collection"
            placeholder="provide collection  name"
          />
        </mat-form-field>
      </div>
      <div>
        <button mat-flat-button (click)="onAddInput()">Add input</button>
    </div>
      <div class="editor-designer-full-width">
        <app-content-types formControlName="contentTypes"></app-content-types>
      </div>


    </div>
  </mat-grid-tile>
  <mat-grid-tile [style.background]="lightgreen">
    <app-json-viewer [json]="editor"></app-json-viewer
  ></mat-grid-tile>
</mat-grid-list>
