<mat-grid-list cols="2" rowHeight="1:1">
  <mat-grid-tile style="overflow-y: scroll;">
    <div class="editor-designer-form" [formGroup]="editorForm">
      <input formControlName="_id" hidden />
      <div class="right-align">
        <button mat-flat-button (click)="onSave()" color="primary">
          Zapisz
        </button>
      </div>
      <h2>Ustawienia listy</h2>
      <div>
        <mat-form-field class="editor-designer-full-width">
          <mat-label>Nazwa</mat-label>
          <input
            matInput
            formControlName="title"
            placeholder="Nazwa kolekcji"
          />
        </mat-form-field>

        <mat-form-field class="editor-designer-full-width">
          <mat-label>Opis kolekcji</mat-label>
          <textarea
            matInput
            formControlName="description"
            placeholder="Wpisz opis kolekcji"
          ></textarea>
        </mat-form-field>

        <mat-form-field class="editor-designer-full-width">
          <mat-label>Nazwa w bazie danych</mat-label>
          <input
            matInput
            formControlName="collection"
            placeholder="Nazwa kolekcji w bazie danych"
          />
        </mat-form-field>
        <mat-radio-group aria-label="Zaznacz typ lity" formControlName="type">
          <mat-radio-button
            style="margin-right: 10px;"
            *ngFor="let listType of listTypes"
            [value]="listType.value"
            >{{ listType.name }}</mat-radio-button
          >
        </mat-radio-group>
      </div>
      <mat-divider style="margin-top: 10px;"></mat-divider>
      <h2>Pola</h2>

      <div class="right-align">
        <button
          mat-flat-button
          color="primary"
          (click)="onAddInput()"
          style="margin-right: 5px;"
        >
          Dodaj pole tekstowe
        </button>
        <button
          mat-flat-button
          color="primary"
          (click)="onAddPicture()"
          style="margin-right: 5px;"
        >
          Dodaj pole obrazu
        </button>

        <button mat-flat-button color="primary" (click)="onAddSelect()">
          Dodaj listę wyboru
        </button>
      </div>
      <div class="editor-designer-full-width">
        <app-content-types formControlName="contentTypes"></app-content-types>
      </div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <app-json-viewer [json]="editor"></app-json-viewer
  ></mat-grid-tile>
</mat-grid-list>
