<mat-toolbar>
  <span>Dodajesz do listy: {{ (metadata$ | async)?.title }}</span>
</mat-toolbar>

<div class="editor-form" [formGroup]="editorForm">
  <div style="text-align: right;">
    <button mat-flat-button color="primary" (click)="onSave()">Zapisz</button>
  </div>
  <input formControlName="_id" hidden />
  <mat-form-field
    class="editor-full-width"
    *ngFor="let control of (metadata$ | async)?.contentTypes"
  >
    <mat-label>{{ control.title }}</mat-label>
    <input
      *ngIf="control.type === 'input'"
      matInput
      formControlName="{{ control.title }}"
      placeholder="{{ control.description }}"
    />
    <mat-select
      *ngIf="control.type === 'select' && control.dataSource === 'list'"
      formControlName="{{ control.title }}"
    >
      <mat-option *ngFor="let o of control.options" [value]="o">
        {{ o }}
      </mat-option>
    </mat-select>
    <mat-select
      *ngIf="control.type === 'select' && control.dataSource === 'collection'"
      formControlName="{{ control.title }}"
    >
      <mat-option *ngFor="let o of control.options | async" [value]="o">
        {{ o }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
